body {
    background-color: #4e4e4e;
}

#add-link {
    background-color: inherit;
    color: white;
    border: none;
}

h1 {
    color: white;
    font-family: "Comic Sans MS", serif;
    text-align: center;
}

#link-box {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}

/** a needs to be changed to class*/
a {
    background-color: #767676;
    padding: 10px 15px;
    border-radius: 30%;  /*round corners*/
    align-content: space-around;
    width: 2%;
    height: auto;
}
a:hover {
    background-color: none;
}

img {
    width: 100%;
    height: auto;
}

#link-item {
    --scale-value: 1;
    width: 100px;
    height: 100px;
    background-color: #FFF;
    border: 10px solid #0066CC;
    border-radius: 50%;
    transform: scale3d(var(--scale-value), var(--scale-value), 1);
    transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) .2s;
}
#link-item:active {
    border-color: #003A75;
    background-color: #F2F5EA;
}
#link-item:hover {
    cursor: pointer;
}